@import "./../variables";

header{
    height: 150px;
    background-color: $dark-cyan-primary;
    background-image: url("./../assets/images/bg-header-desktop.svg");
    background-size: cover;
    @media screen and (max-width:991px) {
        background-image: url("./../assets/images/bg-header-mobile.svg");
    }
}