<div class="container jobs-wrapper">
    <div class="row active-filters" [ngClass]="{'active': activeLevel || activeRole}">
        <div class="col-12">

            <span class="tablet" *ngIf="activeLevel"><span class="tablet-text">{{activeLevel.description}}</span><span
                    class="close" (click)="removeLevelFilter()"><img
                        src="./../../assets/images/icon-remove.svg"></span></span>
            <span class="tablet" *ngIf="activeRole"><span class="tablet-text">{{activeRole.description}}</span><span
                    class="close" (click)="removeRoleFilter()"><img
                        src="./../../assets/images/icon-remove.svg"></span></span>

            <span>&nbsp;</span>
            <span class="clear" (click)="removeFilters()">Clear</span>
        </div>

    </div>
    <div class="row content-wrapper">
        <div class="col-lg-4 filters-col ">
            <div class="filters-wrapper row ">
                <div class="col-12 d-none d-lg-block">
                    <p>Filters:</p>
                    <label>Level</label>
                    <select #levelselect [(ngModel)]="levelOption" (ngModelChange)="onLevelChange(levelselect.value)">
                        <option disabled selected value="">Select</option>
                        <option *ngFor="let level of levels" [value]="level.id">{{level.description}}</option>
                    </select>
                    <label>Role</label>
                    <select #roleselect [(ngModel)]="roleOption" (ngModelChange)="onRoleChange(roleselect.value)">
                        <option disabled selected value="">Select</option>
                        <option *ngFor="let role of roles" [value]="role.id">{{role.description}}</option>
                    </select>
                    <p class="sort-button" (click)="sort()">
                        Sort by Job description
                        <img [ngClass]="{'up': sortOrder == 'asc'}" *ngIf='sortOrder != ""' class="arrow" src="./../../assets/images/arrow.png">
                    </p>
                </div>
                <div class="col-12 d-lg-none">
                    <span class="filters-button" (click)="open(content)">Filters</span>
                    <span class="sort-button mobile" (click)="sort()">
                        Sort by Job description
                        <img [ngClass]="{'up': sortOrder == 'asc'}" *ngIf='sortOrder != ""' class="arrow" src="./../../assets/images/arrow.png"></span>
                </div>
            </div>

        </div>
        <div class="col-lg-8 jobs-col">
            <div class="row job-row" *ngFor="let job of jobs" [ngClass]="{'featured': job.featured}">
                <div class="col-12">
                    <div class="row job-content align-items-center">
                        <div class="col-md-2 col-12">

                            <img class="company-logo" src="{{job.logo}}">
                        </div>
                        <div class="col-md-4 col-12">
                            <div>
                                <span class="company-name">{{job.company}}</span>
                                <span class="tag new" *ngIf="job.new">New!</span>
                                <span class="tag featured" *ngIf="job.featured">Featured</span>
                            </div>
                            <div>
                                <p class="job-description">{{job.position}}</p>
                            </div>
                            <div>
                                <span class="extra">{{job.postedAt}}</span>
                                <span class="extra">{{job.contract}}</span>
                                <span class="extra">{{job.location}}</span>
                            </div>




                        </div>
                        <div class="col-md-6 col-12 tablets">
                            <div class="tablet">{{job.role}}</div>
                            <div class="tablet">{{job.level}}</div>
                            <div class="tablet" *ngFor="let language of job.languages">{{language}}</div>
                            <div class="tablet" *ngFor="let tool of job.tools">{{tool}}</div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="filters-wrapper row ">
            <div class="col-12">
                <p>Filters:</p>
                <label>Level</label>
                <select #levelselect [(ngModel)]="levelOption" (ngModelChange)="onLevelChange(levelselect.value)">
                    <option disabled selected value="">Select</option>
                    <option *ngFor="let level of levels" [value]="level.id">{{level.description}}</option>
                </select>
                <label>Role</label>
                <select #roleselect [(ngModel)]="roleOption" (ngModelChange)="onRoleChange(roleselect.value)">
                    <option disabled selected value="">Select</option>
                    <option *ngFor="let role of roles" [value]="role.id">{{role.description}}</option>
                </select>
                <button type="button" class="close-btn btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
            </div>
        </div>
    </ng-template>



</div>