@import "./../../variables";

.jobs-wrapper {
    position: relative;

    .active-filters {
        transform: translate(0, -50%);
        padding: 30px 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 2px 15px $dark-cyan;
        visibility: hidden;

        &.active {
            visibility: visible;
        }

        .tablet {

            .tablet-text {
                color: $dark-cyan-primary;
                font-weight: 700;
                font-size: 12px;
                border-radius: 3px 0 0 3px;
                padding: 7px 7px 5px 7px;
                margin-left: 10px;
                background-color: $light-cyan;
            }

            .close {
                cursor: pointer;
                background-color: $dark-cyan-primary;

                padding: 4px;
                border-radius: 0 3px 3px 0;
                height: 100%;

                &:hover {
                    background-color: $very-dark-cyan;
                }

                img {
                    width: 12px;
                }
            }
        }

        .clear {
            float: right;
            color: $dark-cyan-primary;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .content-wrapper {
        @media screen and (max-width:767px) {
            padding: 0 10px;
        }

        .filters-col {
            margin-bottom: 40px;

            @media screen and (min-width:992px) {
                padding-right: 50px;
            }

            .filters-button {
                text-decoration: underline;
            }

            .sort-button {
                cursor: pointer;
                text-decoration: underline;
                &.mobile {
                    float: right;
                }
                .arrow{
                    width: 20px;
                    &.up{
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .jobs-col {

            .job-row {
                background-color: white;
                margin-bottom: 20px;
                border-radius: 5px;
                box-shadow: 0px 2px 15px $dark-cyan;
                border-left: 5px solid white;
                font-size: 12px;

                &.featured {
                    border-left: 5px solid $dark-cyan-primary;
                }

                .job-content {
                    padding: 30px 20px;

                    .company-logo {
                        max-width: 80px;

                        @media screen and (max-width:767px) {
                            text-align: center;
                            margin: 0 auto 20px;
                            display: block;
                            max-width: initial;

                        }
                    }

                    .company-name {
                        color: $dark-cyan-primary;
                        font-weight: 700;
                        margin-right: 15px;
                    }

                    .tag {
                        color: white;
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 10px;
                        border-radius: 20px;
                        padding: 7px 10px 5px 10px;
                        margin-right: 10px;

                        &.new {
                            background-color: $dark-cyan-primary;
                        }

                        &.featured {
                            background-color: $very-dark-cyan;
                        }
                    }

                    .job-description {
                        margin: 10px 0 10px 0;
                        color: $very-dark-cyan;
                        font-weight: 700;
                        font-size: 15px;

                        &:hover {
                            color: $dark-cyan-primary;
                        }
                    }

                    .extra {
                        color: $dark-cyan;

                        &:not(:last-child) {
                            &::after {
                                content: "\2022";
                                margin: 0px 10px;
                            }
                        }

                    }

                    .tablets {
                        text-align: right;

                        @media screen and (max-width:767px) {
                            margin-top: 20px;
                            text-align: left;
                        }

                        .tablet {
                            display: inline-block;
                            color: $dark-cyan-primary;
                            font-weight: 700;
                            font-size: 10px;
                            border-radius: 3px;
                            padding: 7px 7px 5px 7px;
                            margin-left: 10px;
                            background-color: $light-cyan;
                            margin-bottom: 10px;

                            @media screen and (max-width:767px) {
                                margin-left: 0px;
                                margin-right: 10px;

                            }

                            &:hover {
                                background-color: $dark-cyan-primary;
                                color: white;
                            }
                        }
                    }

                }
            }
        }
    }





}

.filters-wrapper {
    padding: 30px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 15px $dark-cyan;

    select {
        width: 100%;
        margin-bottom: 20px;
    }
    .close.btn{
        margin: 0 auto;
        display: block;
        font-size: 12px;
        margin-top: 15px;
    }
}