/* You can add global styles to this file, and also import other style files */
@import "./variables";

html, body { height: 100%; }
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


body{
    background-color: $light-cyan-bg;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}